<!DOCTYPE html>
<html>
  <head>
    <title>Ericeira Movie Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header', class: 'header' %>
    <center>
      <%= yield %>
    </center>
    <%= render 'layouts/footer', class: 'footer' %>
  </body>
</html>
